html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.15em;
 
}


/*Background */

.bg-primary {
  background-color: white;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  /*font-size: 4.5em;*/
  font-weight: 700;
}




/* Custom Horizontal Rule */

hr.small {
  max-width: 100px;
}



/* Header */
.header {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.header h1 {
  margin: 0;
  padding: 0;
  /*font-size: 4.5em;*/
  font-weight: 700;
  text-transform: uppercase;
}
/* About */

.about {
  padding: 50px 0;
}

.img-about {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}


/* Skillset */

.skillset {
  padding: 50px 0;
}

.skillset-item {
  margin-bottom: 30px;
}


/* Callout */

.callout {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(../images/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  position: relative;
  margin-bottom: 30px;
}

.img-portfolio {
  width: 400px;
  border: 0 none;
  overflow: hidden;
}
.overlay {
  position: absolute;
  visibility: hidden;
  text-align: center;
  margin-top: 130px;
  border-radius: 6px;
  background: rgba(0, 0, 0, .85);
  width: 400px;
}

.portfolio-item:hover .overlay {
  visibility: visible;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}


.title {
  font-family: 'Muli', sans-serif;
  color: rgba(255, 255, 255, .85);
  
}

/* Experienced in */

.experienced {
  padding: 50px 0;
}

.experienced .btn {
  margin: 10px;
}


/*In Depth Skills*/

.in-depth {
  padding: 50px 0;
}

.in-depth .btn {
  margin: 10px;
}


/* Makes Devicons bigger */

[class^="devicon-"],
[class*=" devicon-"] {
  /*    line-height: 10; */
  font-size: 70px;
  padding: 10px;
}

/* Devicon li's */
td {
  padding: 6px !important;
}
.pretty {
  padding: 10px;
}
.devstack li {
  text-decoration: none;
  display: inline;
}

.devstack .hoverText {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 90px;
  margin-top: 4px;
  border-radius: 6px;
}

.pretty:hover .hoverText {
  visibility: visible;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

/*Progress bar*/

.progress-bar {
  background-color: black;
  line-height: 25px;
}

.progress {
  height: 30px;
  border-radius: 3px;
  box-shadow: none;
}


/*Favicons, text primary makes the text purple, fa-fw targets the icon background*/

.text-icon {
  color: white;
}

.fa-fw {
  color: black;
}


/* Footer */

footer {
  padding: 100px 0;
}


/* =================== */
/*    Media Queries    */
/* =================== */

/*font-size: 4.5em;*/
/* Media Queries  */
/* xs < 768 */ 
@media screen and (max-width: 767px) { 
  h1 { font-size: 1.8em;}
  h3 { font-size: 1em;}
}

  /* sm */ 
  @media screen and (min-width: 768px) { 
	h1 { font-size: 2em;}
  h3 { font-size: 1.3em;}} 
  
  /* md */ 
  @media screen and (min-width: 992px) { 
  h1 { font-size: 2.3em;}
  h3 { font-size: 1.3em;}
  } 
  
  /* lg */ 
  @media screen and (min-width: 1200px) { 
  h1 { font-size: 2.5em;}
  h3 { font-size: 1.6em;}
  }